{% extends 'internet_shop/_base.html' %}
{% load static %}

{% block menu %}
    <a href="{% url 'basket_view' %}">Корзина</a>
    {% for category in categories %}
        <a href="{% url 'category' category_name=category.url_name %}">{{ category.name }}</a>

        {% empty %}

        No Categories

    {% endfor %}
{% endblock %}


{#{% block content %}#}
{#      <form action="{% url 'basket_add' item_id=good_data.id %}" method="POST">#}
{#         {% csrf_token %} #}
{#         {{ form }} #}


{#    {{ good_data.name }}<br> #}
{#    {{ good_data.description }}<br> #}
{#    <img src="{% get_media_prefix %}{{ good_data.image }}"/><br> #}
{#      <h4><label for="color">Выберите цвет:</label></h4> #}
{#        <select name="color"> #}
{#             {% for color in good_data.color.all %} #}
{#                 <option value="{{ color }} ">{{ color }} </option> #}
{#             {% endfor %} #}
{#        </select> #}

{#      <h4><label for="size">Выберите размер:</label></h4> #}
{#        <select name="size"> #}
{#             {% for size in good_data.size.all %} #}
{#                 <option value="{{ size }} ">{{ size }} </option> #}
{#             {% endfor %} #}
{#        </select> #}
{#    <h4> Цена</h4>{{ good_data.cost }}<br> #}
{#    <h4> Категория</h4>{{ good_data.category }}<br> #}
{#      <button type="submit">Добавить в корзину</button> #}
{#     </form> #}
{# {% endblock %}#}

{% block content %}
    <form action="{% url 'basket_add' item_id=good_data.id %}" method="POST">
    {% csrf_token %}
        {{ good_data.name }}<br>
        {{ good_data.description }}<br>
        <img src="{% get_media_prefix %}{{ good_data.image }}"/><br>
        {{ form.size }}<br>
        {{ form.color }}<br>
        {{ good_data.cost }}<br>
        {{ good_data.category }}<br>
        {{ form.count_of }}<br>

    <button type="submit">Добавить в корзину</button>
    </form>
{% endblock %}